img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

body {
  font-family: sans-serif;
}

p {
  margin-left: 12px;
  margin-right: 12px;
}

li {
  margin-left: 12px;
  margin-right: 20px;
}

body {
  background-color: #D6D6D6;
}
img.main {
  float: left;

}

.sidebar {
  width: 30%;
  float: right;
  background-color: grey;
}

.sidebar-imagesize {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 300px;
  float: left;
}

.center {
  align-items: center;
}

.padding-top {
  padding-top: 12px;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.center-grey {
  text-align: center;
  font-weight: bold;
  color: grey;
}

.center-white {
  text-align: center;
  font-weight: bold;
  color: white;
}

.center-half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.center-text {
  text-align: center;
}
