img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}

.center-grey {
  text-align: center;
  font-weight: bold;
  color: grey;
}

.center-half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

.center-text {
  text-align: center;
}
